<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="weebsite.css">
    <script defer src="webssite.js"></script>
</head>
<body>
 <div>
    <img  width="50px" src="file2.jpg">
    <b>htmlacadamy</b>
     5 июля в 13:13
 </div>
 <h1>text</h1>
 <div>блог копмании,css.html </div>
 <img src="file.jpg">
 <div>
   <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
   </p>
   <p>
     wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
   </p>
 </div>
 <a href="#">читать далее </a>
 <div>
    <img width="40px" src="html.jpg">
     <span>+<span id="ratingCounter">2</span></span>
 </div>
 <button>лайк</button>
</body>
</html>